In [0]:
from pyspark.sql.functions import lit,col

from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DoubleType
schema=StructType([StructField('id',IntegerType(),True), \
                   StructField('city_name',StringType(),True)
                  ])

df = spark.read.csv('/FileStore/tables/cities_2.csv',header='true',schema=schema)
df.show()
df=df.withColumn('state',lit('KA'))
df.show()

+---+-----------+
| id|  city_name|
+---+-----------+
|  1|'bangalore'|
|  2|  'chennai'|
|  3|    'delhi'|
|  4|     'pune'|
|  5|'hyderabad'|
+---+-----------+

+---+-----------+-----+
| id|  city_name|state|
+---+-----------+-----+
|  1|'bangalore'|   KA|
|  2|  'chennai'|   KA|
|  3|    'delhi'|   KA|
|  4|     'pune'|   KA|
|  5|'hyderabad'|   KA|
+---+-----------+-----+

In [0]:

df1 = spark.read.csv('/FileStore/tables/cities_2.csv',header='true')
df1.show()
df1.printSchema()
#df1=df1.withColumn('id',col('id').cast(IntegerType()))
df1=df1.withColumn('id',col('id').cast('Integer'))
df1.printSchema()
#df.show()

+---+-----------+
| id|  city_name|
+---+-----------+
|  1|'bangalore'|
|  2|  'chennai'|
|  3|    'delhi'|
|  4|     'pune'|
|  5|'hyderabad'|
+---+-----------+

root
 |-- id: string (nullable = true)
 |-- city_name: string (nullable = true)

root
 |-- id: integer (nullable = true)
 |-- city_name: string (nullable = true)

In [0]:
df1 = spark.read.csv('/FileStore/tables/cities_2.csv',header='true')
df1.show()
#df1=df1.withColumn('id',col('id').cast(IntegerType()))
df1=df1.withColumn('id',col('id').cast('Integer')*1000)
df1.show()

+---+-----------+
| id|  city_name|
+---+-----------+
|  1|'bangalore'|
|  2|  'chennai'|
|  3|    'delhi'|
|  4|     'pune'|
|  5|'hyderabad'|
+---+-----------+

+----+-----------+
|  id|  city_name|
+----+-----------+
|1000|'bangalore'|
|2000|  'chennai'|
|3000|    'delhi'|
|4000|     'pune'|
|5000|'hyderabad'|
+----+-----------+

In [0]:
df1 = spark.read.csv('/FileStore/tables/cities_2.csv',header='true')
df1.show()
#df1=df1.withColumn('id',col('id').cast(IntegerType()))
df1=df1.withColumn('id_100',col('id').cast('Integer')*1000)
df1.show()

+---+-----------+
| id|  city_name|
+---+-----------+
|  1|'bangalore'|
|  2|  'chennai'|
|  3|    'delhi'|
|  4|     'pune'|
|  5|'hyderabad'|
+---+-----------+

+---+-----------+------+
| id|  city_name|id_100|
+---+-----------+------+
|  1|'bangalore'|  1000|
|  2|  'chennai'|  2000|
|  3|    'delhi'|  3000|
|  4|     'pune'|  4000|
|  5|'hyderabad'|  5000|
+---+-----------+------+

In [0]:
df1=df1.withColumnRenamed("id_100","new_id")
df1.show()

+---+-----------+------+
| id|  city_name|new_id|
+---+-----------+------+
|  1|'bangalore'|  1000|
|  2|  'chennai'|  2000|
|  3|    'delhi'|  3000|
|  4|     'pune'|  4000|
|  5|'hyderabad'|  5000|
+---+-----------+------+

In [0]:
df1.drop('id').show()

+-----------+------+
|  city_name|new_id|
+-----------+------+
|'bangalore'|  1000|
|  'chennai'|  2000|
|    'delhi'|  3000|
|     'pune'|  4000|
|'hyderabad'|  5000|
+-----------+------+

In [0]:
df1.filter(df1.new_id == 1000).show()

df1.filter(df1.city_name.isin(["'bangalore'","'pune'"])).show()


df1.filter(~df1.city_name.isin(["'bangalore'","'pune'"])).show()

df1.filter(df1.city_name.isin(["'bangalore'","'pune'"]) == False).show()

+---+-----------+------+
| id|  city_name|new_id|
+---+-----------+------+
|  1|'bangalore'|  1000|
+---+-----------+------+

+---+-----------+------+
| id|  city_name|new_id|
+---+-----------+------+
|  1|'bangalore'|  1000|
|  4|     'pune'|  4000|
+---+-----------+------+

+---+-----------+------+
| id|  city_name|new_id|
+---+-----------+------+
|  2|  'chennai'|  2000|
|  3|    'delhi'|  3000|
|  5|'hyderabad'|  5000|
+---+-----------+------+

+---+-----------+------+
| id|  city_name|new_id|
+---+-----------+------+
|  2|  'chennai'|  2000|
|  3|    'delhi'|  3000|
|  5|'hyderabad'|  5000|
+---+-----------+------+

In [0]:
columns = ["language","users_count"]
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000"),("Golang",None),("Unix",None),(None,'1000'),(None,"30000")]

sc=spark.sparkContext
rdd=sc.parallelize(data)
df=rdd.toDF()
print(df.printSchema())

df1=rdd.toDF(columns)
print(df1.printSchema())

df1.filter(df1.users_count.isNull()).show()
df1.filter(df1['users_count'].isNull()).show()
df1.filter(col('users_Count').isNull()).show()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

None
root
 |-- language: string (nullable = true)
 |-- users_count: string (nullable = true)

None
+--------+-----------+
|language|users_count|
+--------+-----------+
|  Golang|       null|
|    Unix|       null|
+--------+-----------+

+--------+-----------+
|language|users_count|
+--------+-----------+
|  Golang|       null|
|    Unix|       null|
+--------+-----------+

+--------+-----------+
|language|users_count|
+--------+-----------+
|  Golang|       null|
|    Unix|       null|
+--------+-----------+

In [0]:
#import spark.implicits._
df1.filter(df1.users_count.isNull() | df1.language.isNull() ).show()
#df1.filter(col("language").startsWith("Py")).collect()
#df1.filter(df1.language.startsWith('Py')).collect()
df1.filter(df1.language.startswith('Py')).collect()

+--------+-----------+
|language|users_count|
+--------+-----------+
|  Golang|       null|
|    Unix|       null|
|    null|       1000|
|    null|      30000|
+--------+-----------+

Out[41]: [Row(language='Python', users_count='100000')]