In [0]:
columns = ["language","users_count"]
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]
rdd1=sc.parallelize(data)
df=rdd1.toDF()
df.show()

df1=rdd1.toDF(columns)
df1.show()

+------+------+
|    _1|    _2|
+------+------+
|  Java| 20000|
|Python|100000|
| Scala|  3000|
+------+------+

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [0]:
df2=spark.createDataFrame(rdd1).toDF(*columns)
df2.show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [0]:
from pyspark.sql import Row

rowdata=map(lambda x : Row(*x),data)
df3=spark.createDataFrame(rowdata,columns)
df3.show()
df3.printSchema()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

root
 |-- language: string (nullable = true)
 |-- users_count: string (nullable = true)

In [0]:
from pyspark.sql.types  import *

data1 = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]


schema=StructType([StructField ('Fname',StringType(),True),\
                   StructField ('Mname',StringType(),True),\
                   StructField ('Lname',StringType(),True),\
                   StructField ('id',StringType(),True),\
                   StructField ('gender',StringType(),True),\
                   StructField ('gender',IntegerType(),True)\
                  ])


df4=spark.createDataFrame(data=data1,schema=schema)
df4.printSchema()

root
 |-- Fname: string (nullable = true)
 |-- Mname: string (nullable = true)
 |-- Lname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- gender: integer (nullable = true)

In [0]:
df1=spark.read.csv('/FileStore/tables/cities.csv')
df1.show()
df1.printSchema()

schema1=StructType([ StructField('id',IntegerType(),True),\
                   StructField('city',StringType(),True),\
                  ])
 
df2=spark.read.csv('/FileStore/tables/cities.csv',schema=schema1)
df2.show()
df2.printSchema()



df3=spark.read.csv('/FileStore/tables/cities_2.csv',header='true')
df3.show()
df3.printSchema()

+---+-----------+
|_c0|        _c1|
+---+-----------+
|  1|'bangalore'|
|  2|  'chennai'|
|  3|    'delhi'|
|  4|     'pune'|
|  5|'hyderabad'|
+---+-----------+

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

+---+-----------+
| id|       city|
+---+-----------+
|  1|'bangalore'|
|  2|  'chennai'|
|  3|    'delhi'|
|  4|     'pune'|
|  5|'hyderabad'|
+---+-----------+

root
 |-- id: integer (nullable = true)
 |-- city: string (nullable = true)

+---+-----------+
| id|  city_name|
+---+-----------+
|  1|'bangalore'|
|  2|  'chennai'|
|  3|    'delhi'|
|  4|     'pune'|
|  5|'hyderabad'|
+---+-----------+

root
 |-- id: string (nullable = true)
 |-- city_name: string (nullable = true)